<!-- Edit Employee Modal -->
<dialog open class="modal2 edit-modal">
    <button class="cancelbtn"><a href="/employees"><span class="material-symbols-outlined closebtn">cancel</span></a></button>
    <h2>Edit Employee</h2>

    <label class="employee-titles" for="employee-first-name">First Name:</label>
    <input class="first-name-input" type="text" id="edit-employee-first-name" value="{{employee.first_name}}"></input>

    <label class="employee-titles" for="employee-last-name">Last Name:</label>
    <input class="last-name-input" type="text" id="edit-employee-last-name" value="{{employee.last_name}}"></input>

    <label class="employee-titles" for="employee-title" style="visibility: hidden;">Employee Title:</label>                                         <!-- made this hidden, so modal works -->
    <input class="title-input" type="text" id="edit-employee-title" value="{{employee.employee_title}}" style="visibility: hidden;"></input>        <!-- made this hidden, so modal works -->

    <label class="employee-titles" for="employee-manager">Employee Manager:</label>
    <input class="manager-input" type="text" id="edit-employee-manager" value="{{employee.employee_manager}}"></input>

    <label class="employee-titles" for="employee-job">Job Title:</label>
    <select class="job-select" id="edit-employee-job">
        {{#each jobs}}
            <option value="{{this.id}}" {{#if (eq this.id ../employee.employee.job_id)}} selected {{/if}}>{{this.job_title}}</option>
        {{/each}}
    </select>

    <label class="employee-titles" for="employee-department">Department:</label>
    <select class="department-select" id="edit-employee-department">
        {{#each departments}}
            <option value="{{this.id}}" {{#if (eq this.id ../employee.employee.department_id)}} selected {{/if}}>{{this.department_name}}</option>
        {{/each}}
    </select>

    <div class="modalbtns">
        <button class="save" data-id={{employee.id}}>Save</button>
        <button class="delete" data-id={{employee.id}}>Delete</button>
    </div>
</dialog>
<script src="/css/update-employee.js"></script>
